* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'Playfair Display', serif;
}

br {
	user-select: none;
}

.container {
	width: 1920px;
	margin: auto;
}

aside {
	background-color: hsla(0, 0%, 100%, 0.37);
	border: solid 2px;
	width: 250px;
	height: 922px;
	margin-left: -305px;
}

aside img {
	width: 300px;
	height: 300px;
	margin-left: 10px;
	margin-top: -50px;
}

.barre_img {
	border-bottom: solid 1px;
}

ul {
	display: flex;
	margin-left: -87px;
	margin-top: -102px;
}

li {
	list-style: none;
	margin-top: -820px;
	height: 60px;
	width: 430px;
	border: solid 1px;
	font-size: px;
}

#logo:hover {
	background-color: #3c4b5f;
	transition: 0.5s;
}

.unactiv:hover {
	background-color: #3c4b5f;
	transition: 0.5s;
}

ul .unactiv p:hover {
	color: white;
	transition: 0.5s;
	text-decoration: underline white;
}

p {
	text-align: center;
	align-items: center;
	padding: 0px;
	margin-top: 15px;
}

ul li p {
	color: #3c4b5f;
	font-weight: 600;
	text-shadow: 1px 1px 2px white;
}

.activ {
	background-color: #3c4b5f;
}

ul .activ p {
	color: white;
	text-decoration: underline white;
}

a {
	text-decoration: none;
}

/* Searchbar */
.searchbar {
	margin-top: -826px;
	margin-left: 1255px;
	width: 300px;
	height: 38px;
	border: solid 1px;
	border-radius: 25px;
	background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 4px;
}

/* Input de la Searchbar */
input {
	border: solid 1px white;
	width: 250px;
	margin-top: 6px;
	margin-left: 25px;
	outline-style: none;
	text-align: center;
}

/* IMAGE DE FOND */
.bg {
	width: 1650px;
	height: 863px;
	background-size: cover;
	background-image: url(/img/maxresdefault.jpg);
	margin-left: -55px;
	margin-top: -762px;
	filter: blur(4px);
	opacity: 0.5;
}

.bienvenue {
	transform: rotate(-90deg);
	margin-top: 28vh;
	font-size: 35px;
	color: #0c2a95;
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.295);
}

.content {
	position: relative; /* Ajout de la position relative */
	display: flex; /* Utilisation de flexbox pour aligner les éléments côte à côte */
}

.custom-card {
	margin-top: -830px;
	margin-left: 22%;
	height: 200px;
	width: 1000px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	text-align: center;
	color: #0c2a95;
	align-items: center;
}

.custom_card_top {
	margin-top: -830px;
	margin-left: 22%;
	height: 450px;
	width: 1000px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	text-align: center;
	color: #0c2a95;
	align-items: center;
}

.custom_card_top p {
	width: 600px;
	font-weight: 700;
	text-shadow: 1px 1px 1px white;
	position: absolute;
	bottom: 500px;
	left: 480px;
	background-color: rgba(
		49,
		49,
		49,
		0.4
	); /* Ajustez l'opacité selon vos besoins */
	border-radius: 30px;
}

.imgtop {
	border: solid 1px;
	border-radius: 10px;
	width: 680px;
	height: 320px;
	background-image: url("/img/téléchargé.jpg");
	background-size: cover;
	background-position: center;
	margin-left: 160px;
	margin-top: 32px;
	filter: blur(1px);
	opacity: 0.7;
}

.custom-card h2 {
	font-weight: 400;
	margin-top: 6%;
	text-align: center;
	align-items: center;
}

.custom-card2 {
	background-image: url("/img/MicrosoftTeams-image\ \(39\).png");
	position: relative;
	background-size: cover; /* Ensure the background image covers the entire div */
	background-position: center; /* Center the background image */
	margin-top: -550px;
	margin-left: 22%;
	height: 230px;
	width: 200px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	align-items: center;
}

.custom-card3 {
	background-image: url("/img/61cnaPRccqL.jpg");
	position: relative;
	background-size: cover; /* Ensure the background image covers the entire div */
	background-position: center; /* Center the background image */
	margin-top: 50px;
	margin-left: 22%;
	height: 230px;
	width: 200px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	align-items: center;
}

.custom-card4 {
	background-image: url("/img/MicrosoftTeams-image (37).png");
	position: relative;
	background-size: cover; /* Ensure the background image covers the entire div */
	background-position: center; /* Center the background image */
	margin-top: -510px;
	margin-left: 80%;
	height: 230px;
	width: 200px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	align-items: center;
}

.custom-card5 {
	background-image: url("/img/MicrosoftTeams-image\ \(38\).png");
	position: relative;
	background-size: cover; /* Ensure the background image covers the entire div */
	background-position: center; /* Center the background image */
	margin-top: 50px;
	margin-left: 80%;
	height: 230px;
	width: 200px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	align-items: center;
}

.custom-card11 {
	background-image: url("/img/81XoD8ZOc2L._AC_UF1000\,1000_QL80_.jpg");
	position: relative;
	background-size: cover; /* Ensure the background image covers the entire div */
	background-position: center; /* Center the background image */
	margin-top: 50px;
	margin-left: 22%;
	height: 230px;
	width: 200px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	align-items: center;
}

.footer_haut {
	margin-left: 850px;
	margin-top: 80px;
	font-size: 20px;
	text-shadow: 1px 1px 2px black;
}

.footer_bdroit {
	font-size: 0.9em;
	letter-spacing: 3px;
	position: absolute;
	left: 85%;
	text-align: right;
	margin-top: 5em;
	font-size: 20px;
	text-shadow: 1px 1px 2px black;
}
.footer_bdroit a {
	color: white;
	text-shadow: 1px 1px 2px black;
}
#contact {
	position: absolute;
	color: rgb(243, 239, 239);
	font-size: 30px;
}

.logo2 {
	position: absolute;
	width: 160px;
	margin-left: 500px;
	top: 887px;
}

.page-transition {
	position: relative;
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0.8;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

footer {
	background-image: url("../img/footer-background-011.jpg");
	background-size: cover;
	border: solid 1px;
	width: 147%;
	height: 150px;
	margin-left: -304px;
	margin-top: 35px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.footer_text {
	position: absolute;
	color: white;
	text-align: center;
	font-size: 25px;
	top: 940px;
	left: 32%;
	text-shadow: 1px 1px 2px black;
}

a {
	color: #2980b9;
	height: 165px;
	text-decoration: none;
}

a button {
	position: fixed;
	bottom: 40px;
	right: 20px;
	border: none;
	background: transparent;
	font-size: 350%;
	color: #2d5c7f;
	cursor: pointer;
}

.catalog h2 {
	position: relative;
	top: 15px;
}

[class^="custom-card"]:hover {
	transition: 0.6s;
	transform: scale(1.05);
	border: solid 1px white;
}

.custom-card6 {
	margin-left: 47px;
}

.custom-card7 {
	margin-left: 47px;
}

.custom-card:hover {
	background-color: #3c4b5f;
	color: white;
}

.custom_card_top:hover {
	transform: scale(1.05);
	background-color: #3c4b5f;
	color: white;
	transition: 0.4s;
	border: solid 1px white;
}

.custom-card8 {
	margin-left: 25%;
}

.custom-card9 {
	margin-left: 25%;
}

.custom-card10 {
	margin-top: -230px;
	margin-left: 45.5%;
}

.custom-card12 {
	background-image: url("/img/s-l1200.webp");
	position: relative;
	background-size: cover; /* Ensure the background image covers the entire div */
	background-position: center; /* Center the background image */
	margin-top: -510px;
	margin-left: 80%;
	height: 230px;
	width: 200px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	align-items: center;
}

.custom-card13 {
	margin-bottom: 30%;
	margin-left: 45.8%;
}

.foot-catalog {
	margin-top: -9%;
}

.rangee {
	margin-left: 330px;
	margin-right: -480px;
}

#game-card-group {
	display: flex;
	justify-content: space-around;
	margin-top: -350px;
	margin-left: 250px;
	position: relative;
}

.game-card {
	margin-top: 20px;
	width: 300px;
	height: 300px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 15px;
	transition: transform 0.3s ease-in-out;
}

.foot-top {
	margin-top: 25px;
}

.game-card:hover {
	transform: scale(1.05);
}

.game-card h2 {
	color: #0c2a95;
}

.game-card .game-image {
	width: 100%;
	height: auto;
	border-radius: 5px;
	margin-bottom: 10px;
}

.game-card p {
	font-size: 14px;
	color: #555;
}

@media only screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
}

.game-card .read-more {
	display: block;
	margin-top: 10px;
	text-decoration: none;
	color: #0c2a95;
	font-weight: bold;
}

.game-card .read-more:hover {
	text-decoration: underline;
}
